body {
    background-image: url(../image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    font-family: sans-serif;
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        

        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            margin-block-start: 0;
            margin-block-end: 0;
            span {
                color: rgb(244, 146, 171);
            }
        }

        &__navbar {
            display: flex;
            &__item {
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: 1rem;
                text-decoration: none;
                color: gray;
                display: block;
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;

        .page {
            display: none;
            background-color: white;
            border-radius: 16px;
            overflow: hidden;
            margin-top: 1rem;
            margin-bottom: 1rem;
            box-shadow: 0px 15px 25px 0px rgb(0 0 0 / 10%);

            &__header {
                background-color: rgb(250, 217, 223);
                color: rgb(89, 87, 88);
                font-size: 2rem;
                display: flex;
                justify-content: center;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                margin-top: 0;
                margin-bottom: 0;
            }

            &__content {
                padding: 2rem 4rem;
                display: flex;
                flex-direction: column;

                .resume__experience {
                    display: flex;
                    justify-content: space-between;

                    &__sub {
                        width: 45%;

                        &__title {
                            margin-top: 0;
                        }

                        &__timelines {
                            padding: 8px 0px 8px 50px;
                            border-left: 2px solid lightgrey;

                            .resume__experience__item {
                                box-sizing: border-box;
                                box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
                                padding: 10px 20px;
                                border-radius: 10px;
                                border-left: 2px solid rgb(250, 217, 223);
                                margin-top: 2rem;
                                margin-bottom: 2rem;
                                position: relative;

                                &__title {
                                    font-size: 1rem;
                                    margin-top: 1rem;
                                    margin-bottom: 1rem;
                                }

                                &__subtitle {
                                    font-size: 0.8rem;
                                    &__year {
                                        color: rgb(244, 146, 171);
                                    }
                                    &__location {
                                        color: gray;
                                    }
                                }

                                &__detail {
                                    line-height: 1.8rem;
                                }
                            }

                            .resume__experience__item::before {
                                content: "";
                                width: 50px;
                                border-bottom: 2px solid rgb(250, 217, 223);
                                position: absolute;
                                left: -50px;
                                top: 35px;
                            }

                            .resume__experience__item::after {
                                content: "";
                                width: 10px;
                                height: 10px;
                                border: 2px solid rgb(250, 217, 223);
                                border-radius: 50%;
                                position: absolute;
                                left: -60px;
                                top: 29px;
                                background-color: white;
                            }
                        }
                    }
                }

                .resume__skill {
                    display: flex;
                    justify-content: space-between;

                    &__sub {
                        margin: 2rem 0;
                        width: 45%;
                        span {
                            color: rgb(244, 146, 171);
                        }

                        .resume__skill__item__name {
                            font-size: 0.9rem;
                        }

                        .resume__skill__item__score {
                            background-color: lightgray;
                            border-radius: 2px;
                            overflow: hidden;
                            content: "";
                            height: 1rem;
                            margin: 10px 0px;
                            position: relative;
                        }

                        .resume__skill__item__score::after {
                            background-color: rgb(250, 217, 223);
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            content: "";
                        }

                        .waves-score::after {
                            width: 80%;
                        }

                        .kick-score::after {
                            width: 70%;
                        }

                        .flash-score::after {
                            width: 85%;
                        }

                        .mask-score::after {
                            width: 65%;
                        }

                        .stick-score::after {
                            width: 75%;
                        }

                        .pen-score::after {
                            width: 68%;
                        }
                    }
                }

                .services__myservices {
                    &__title span {
                        color:rgb(244, 146, 171)
                    }

                    &__items {
                        display: flex;
                        justify-content: space-around;

                        &__item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            box-sizing: border-box;
                            padding: 10px 30px;
                            width: 35%;

                            &__logo {
                               width: 200px;
                               height: 200px;
                               content: "";
                               background-position: center;
                               border-radius: 50%;
                            }

                            .logo-stick {
                                background-image: url(../image/stick.jpeg);
                                background-size: 120%;
                            }

                            .logo-flash {
                                background-image: url(../image/flash.jpeg);
                                background-size: cover;
                            }

                            .logo-pen {
                                background-image: url(../image/disguise_pen.jpeg);
                                background-size: 110%;
                            }

                            &__intro {
                                line-height: 1.5rem;
                                width: 100%;
                                margin: 0px;
                            }
                        }
                    }
                }

                .services__team {
                    padding: 30px 0px;
                    &__members {
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: 40px;
                        &__member {
                            height: 200px;
                            width: 200px;
                            border-radius: 50%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            &__name {
                                position: absolute;
                                bottom: -60px;
                            }
                        }
                        .mercury {
                            background-image: url(../image/mercury.jpeg);
                        }
                        .mars {
                            background-image: url(../image/mars.jpeg);
                        }
                        .jupiter {
                            background-image: url(../image/jupiter.jpeg);
                        }
                    }
                }
            }

            .blog {
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;

                &__card {
                    box-sizing: border-box;
                    margin: 30px 10px;
                    border-radius: 8px;
                    overflow: hidden;
                    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
                    padding-bottom: 20px;
                    
                    &__image {
                        content:"";
                        width: 360px;
                        height: 200px;
                        overflow: hidden;
                        background-size: cover;
                        background-position: center;
                        position: relative;
                        &__date {
                            color:gray;
                            background-color: rgb(250, 217, 223);
                            position: absolute;
                            top:20px;
                            right:20px;
                            padding: 5px;
                            border-radius: 5px;
                        }
                    }

                    &__type {
                        margin-top: 10px;
                        line-height: 2rem;
                        text-align: center;
                        color: gray;
                        font-size: 0.8rem;
                    }

                    &__title {
                        line-height: 2rem;
                        text-align: center;
                        font-size: 1rem;
                        margin: 0;
                        a {
                            color: rgb(89, 87, 88);
                        }
                    }

                    .card1 {
                        background-image: url(../image/blogcard1.jpeg);
                    }

                    .card2 {
                        background-image: url(../image/blogcard2.jpeg);
                    }

                    .card3 {
                        background-image: url(../image/blogcard3.jpeg);
                    }

                    .card4 {
                        background-image: url(../image/blogcard4.jpeg);
                    }

                    .card5 {
                        background-image: url(../image/blogcard5.jpeg);
                    }

                    .card6 {
                        background-image: url(../image/blogcard6.jpeg);
                    }
                }
            }

            .contact {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &__subtitle {
                    line-height: 2rem;
                }
                
                &__subtitle span{
                    color: rgb(244, 146, 171);
                }
                &__touch {
                    width: 45%;
                    &__map {
                        width: 100%;
                        height: 200px;
                        border: 1px solid rgb(250, 217, 223);
                        margin-bottom: 20px;
                    }

                    &__detail {
                        color:rgb(89, 87, 88);
                        font-size: 1rem;
                        img {
                            padding: 5px;
                            margin-right: 10px;
                            margin-top: auto;
                            margin-bottom: auto;
                            border-radius: 50%;
                            width: 1rem;
                            height: 1rem;
                            background-color: rgb(250, 217, 223);
                        }
                        &__item {
                            line-height: 3rem;
                            display: flex;
                            align-items: baseline;
                        }
                    }
                }
                &__form {
                    width: 45%;
                    label {
                        color:rgb(89, 87, 88)
                    }
                    input {
                        width: 100%;
                        height: 2rem;
                        padding: 5px;
                        border:2px solid lightgray;
                        border-radius: 5px;
                    }
                    #message {
                        margin-bottom: 20px;
                        height: 100px;
                        width: 100%;
                        text-align: start;
                        padding: 10px 5px;
                        font-family: sans-serif;
                        border:2px solid lightgray;
                        border-radius: 5px;
                    }
                    [type=submit] {
                        background-color: rgb(250, 217, 223);
                        width: auto;
                        padding: 0px 20px;
                        align-self: center;
                        color:rgb(89, 87, 88);
                        
                    }
                    [type=submit]:hover {
                        color:white;
                    }
                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content:flex-start;
                    }

                }
            }

            .homepage__header {
                justify-content: space-around;

                &__avatar {
                    background-image: url(/image/avatar.jpeg);
                    background-size: cover;
                    width: 250px;
                    height: 250px;
                    margin-top: 3rem;
                    margin-bottom: -3rem;
                    border: 3px solid rgb(244, 146, 171);
                    border-radius: 10px;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;
                }

                &__avatar:hover {
                    margin-top: 2rem;
                    margin-bottom: -2rem;
                    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 10%);
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &__name {
                        margin: 0;
                    }
                    &__occupation {
                        font-size: 1.5rem;
                        margin-top: 0.5rem;
                    }
                    &__links {
                        margin-top: 0.5rem;
                        display: flex;
                        z-index: 500;
                        &__item {
                            background-color: whitesmoke;
                            width: 40px;
                            height: 40px;
                            border-radius: 50px;
                            margin: 5px;
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        .twitter {
                            background-image: url(../image/twitter.svg);
                        }
                        .facebook {
                            background-image: url(../image/facebook.svg);
                        }
                        .instagram {
                            background-image: url(../image/instagram.svg);
                        }
                    }
                }
            }

            .homepage__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__aboutme {
                    width: 50%;
                    margin-right: 5rem;
                    line-height: 1.75rem;
                    &__header {
                        font-size: 1.5rem;
                        span {
                            color: rgb(244, 146, 171);
                        }
                    }
                }

                &__detail__table td:first-of-type {
                    padding-right: 2rem;
                }

                &__detail__table td:last-of-type {
                    color: gray;
                }

                &__detail__table a {
                    color: rgb(244, 146, 171);
                }
            }
        }

        .page--active {
            display: flex;
            flex-direction: column;
        }
    }

    &__footer {
        margin: 10px auto;
        color: gray;
        a {
            text-decoration: none;
            color: gray;
        }
    }
}
